# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/production
/scripts/bundle.min.js
/styles/bundle.min.css
asset-manifest.json
*.map

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/admin
/includes/classes
/includes/fields
/includes/functions
/includes/modules/AdvancedBlurb
/includes/modules/AdvancedDataTable
/includes/modules/AdvancedPerson
/includes/modules/AdvancedTab
/includes/modules/AdvancedTabItem
/includes/modules/ImageGallery
/includes/modules/Heading
/includes/modules/Heading_Anim
/includes/modules/BlogCarousel
/includes/modules/PostGrid
/includes/modules/BusinessHours
/includes/modules/BusinessHoursItem
/includes/modules/CompareImage
/includes/modules/CFSeven
/includes/modules/ContentCarousel
/includes/modules/ContentCarouselItem
/includes/modules/DataTable
/includes/modules/DataTableItem
/includes/modules/DualButton
/includes/modules/FlipBox
/includes/modules/FloatImage
/includes/modules/FloatImageItem
/includes/modules/HoverBox
/includes/modules/ImageAccordion
/includes/modules/ImageAccordionItem
/includes/modules/ImageCarousel
/includes/modules/ImageCarouselItem
/includes/modules/ImageGalleryItem
/includes/modules/ImageHover
/includes/modules/ImageMask
/includes/modules/InstagramCarousel
/includes/modules/InstagramGallery
/includes/modules/JustifiedGallery
/includes/modules/LogoCarousel
/includes/modules/PackeryGallery
/includes/modules/TestimonialCarousel
/includes/modules/TestimonialCarouselItem
/includes/modules/TiltCard
/includes/modules/TypewriterText
/includes/modules/WPForms
/includes/modules/CptItem
/includes/modules/CptGrid
/includes/modules/ProductGrid
/includes/modules/ProductCarousel
/includes/modules/ImageHotspot
/includes/modules/ImageHotspotItem
/includes/modules/CptFilter
/includes/modules/LottieImage
/includes/modules/CptCarousel
/includes/modules/ContentSwitcher
/includes/modules/ScrollImage
/includes/modules/Divider
/includes/modules/IconList
/includes/modules/IconListItem
/includes/modules/Breadcrumbs
/includes/modules/LogoCarouselItem
/includes/modules/PostItem
/includes/modules/ProductItem
/includes/utils
/languages

/public/*
!public/js
/public/js/*
!public/js/faq.js
/scripts
/styles
/template
class-diviflash-i18n.php
class-diviflash-init.php
class-diviflash-loader.php
Diviflash.php
functions.php
loader.js
loader.php
.gitattributes
asset-manifest.json
changelog.txt
CREDITS.txt
diviflash.php
gulpfile.js
license.txt
package-lock.json
package.json
README.md
solve-yarn-win-policy.txt
yarn.lock
