/* Border */
.difl_faqitem .df_faq_item * {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
}

/* FAQ Item*/
.difl_faqitem .df_faq_item {
  max-width: 550px;
  background: #f4f4f4;
}

.difl_faqitem .faq_question_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
}
.difl_faqitem .faq_question_area {
  display: flex;
  align-items: start;
}
.difl_faqitem .faq_question_image img {
  max-width: 45px;
  display: block;
}

/* .difl_faqitem.active .open_image,
.difl_faqitem.active .open_icon{
  opacity: 0;
}

.close_image, .open_image, .close_icon, .open_icon{
  transition: .6s;
} */

.difl_faqitem .faq_question_title,
.difl_faqitem .faq_answer p {
  padding-bottom: 0px;
  line-height: 1.5em;
}

.difl_faqitem .faq_icon span.et-pb-icon {
  display: block;
  color: #000;
  font-size: 24px;
}

.difl_faqitem .faq_answer_wrapper {
  overflow: hidden;
}

.difl_faqitem .faq_answer_area {
  display: flex;
  flex-flow: column;
}
.difl_faqitem .faq_answer {
  width: 100%;
}

.difl_faqitem .faq_answer ul {
  list-style-position: inside;
  padding: 0px;
}

.difl_faqitem .faq_answer_image {
  width: 100%;
}
.difl_faqitem .faq_answer_image img {
  display: block;
}

.difl_faqitem .faq_button a {
  display: inline-flex;
  overflow: hidden;
  vertical-align: top;
  background: #666;
  color: #fff;
  font-size: 18px;
  line-height: 1.5em;
}

.difl_faqitem .faq_button_icon {
  vertical-align: top;
  font-size: 20px;
}

/* FAQ Hide */
.df_content_props {
  display: none;
}
.difl_faqitem.df_hide_desktop {
  display: none !important;
}
@media only screen and (max-width: 980px) {
  .difl_faqitem.df_hide_desktop {
    display: block !important;
  }
  .difl_faqitem.df_hide_tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .difl_faqitem.df_hide_desktop, .difl_faqitem.df_hide_tablet {
    display: block !important;
  }
  .difl_faqitem.df_hide_mobile {
    display: none !important;
  }
}
