.difl_faq_0{
  background: rgb(251, 214, 214);
}

.difl_faq_1{
  background: #e2ffc0;
}

/* Border */
.difl_faqitem .df_faq_item * {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
}

/* FAQ Item*/
/* .difl_faqitem div.et_pb_module_inner{
  display: flex;
} */

/* Default Padding */
.difl_faqitem .faq_question_wrapper,
.difl_faqitem .faq_question_image,
.difl_faqitem .faq_question,
.difl_faqitem .faq_icon,
/* .difl_faqitem .faq_answer_wrapper, */
.difl_faqitem .faq_answer,
.difl_faqitem .faq_answer_image,
.difl_faqitem .faq_button {
  padding: 5px;
}

.difl_faqitem .df_faq_item{
  /* display: block; */
  overflow: hidden;
  width: 100%;
  background: #f4f4f4;
}

/* .difl_faqitem .df_faq_item{} */
.difl_faqitem .faq_question_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  /* box-sizing: border-box; */
}
.difl_faqitem .faq_question_area {
  display: flex;
  align-items: center;
}
.difl_faqitem .faq_question_image {
  width: 45px;
  height: 45px;
  display: block;
}

/* .difl_faqitem .open_image,
.difl_faqitem .close_image,
.difl_faqitem .close_icon,
.difl_faqitem .open_icon{
  transition: all 0.7s linear;
} */

/* .difl_faqitem .open_image{} */
/* .difl_faqitem .close_image{} */
/* .difl_faqitem .faq_question{} */
.difl_faqitem .faq_question h3,
.difl_faqitem .faq_answer p {
  padding-bottom: 0px;
}
/* .difl_faqitem .faq_icon{} */
.difl_faqitem .faq_icon span {
  color: #000;
  font-size: 24px;
}
/* .difl_faqitem .close_icon{} */
/* .difl_faqitem .open_icon{} */
.difl_faqitem .faq_answer_wrapper {
  /* display: none; */
  overflow: hidden;
  /* -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
   -ms-transition: height 1s ease;
       transition: height 1s ease; */
}

.difl_faqitem .faq_answer_area{
  display: flex;
  flex-flow: column;
}
.difl_faqitem .faq_answer{
  width: 100%;
}

.difl_faqitem .faq_answer_image{
  width: 100%;
}
.difl_faqitem .faq_answer_image img {
  display: block;
}
/* .difl_faqitem .faq_button{} */

.difl_faqitem .faq_button a{
  display: inline-flex;
  vertical-align: initial;
  background: red;
  color: #fff;
  padding: 5px 10px;
  font-size: 18px;
}

.difl_faqitem .df-faq-button-icon{
  /* vertical-align: initial; */
  font-size: 20px;
}

/* .difl_faqitem .df_faq_item.active .faq_answer_wrapper{
  display: block !important;
} */

