/* Border */
.difl_faq .df_faq_wrapper * {
    border-width: 0px;
    border-style: solid;
    border-color: #333;
  }

/* FAQ */
.difl_faq .df_faq_wrapper{
  /* overflow: hidden; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    width: auto;
}

.difl_faq .df_faq_wrapper .et_pb_module.difl_faqitem{
  margin-bottom: 0;
  width: inherit;
  display: flex;
}

/* .difl_faq .difl_faqitem div.et_pb_module_inner{
  width: 100%;
} */


